{% extends 'app/base.html' %}

{% block content %}

<div class="container">

    {% include 'app/includes/navbar.html' %}

    <div class="dashboard-items">
        <div class="accordion" id="accordion">
            {% for category in categories %}
                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading-{{ category.pk }}">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{ category.pk }}" aria-expanded="false" aria-controls="collapse-{{ category.pk }}">
                            {{ category.name }}
                        </button>
                    </h2>
                    <div id="collapse-{{ category.pk }}" class="accordion-collapse collapse" aria-labelledby="heading-{{ category.pk }}" data-bs-parent="#accordion">
                        <div class="accordion-body">
                            <p>Cards count: {{ category.get_cards_full_count }}</p>
                            <p>To repeat: {{ category.get_to_repeat_cards_full_count }}</p>
                            {% include 'app/includes/subcategories.html' with subcategories=category.subcategories.all %}
                            <a href="" class="btn btn-primary">Learn</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

</div>

{% endblock %}