{% extends 'app/base.html' %}
{% load widget_tweaks %}

{% block title %}Register page{% endblock %}

{% block content %}

    <main class="form form-register w-100 m-auto">
        <form method="POST" novalidate>
            <h1 class="h3 mb-3 fw-normal">Register</h1>
            {% csrf_token %}
            {% include 'app/includes/form.html' with form=form form_type='group' %}
            <button class="w-100 btn btn-lg btn-primary" type="submit">Register</button>
            <br><br>
            <a href="{% url 'app:login' %}">Already have account?</a>
        </form>
    </main>

{% endblock %}